<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Uygulaması</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">CRUD Uygulaması</h1>

        <h2 class="mt-5">MongoDB</h2>
        <nav class="nav mt-4">
            <a class="nav-link btn btn-success btn-sm" href="/mongo/create">Veri Ekle</a>
        </nav>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Veri</th>
                    <th>Yönet</th>
                </tr>
            </thead>
            <tbody>
                {% for item in mongo_data %}
                <tr>
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                    <td>
                        <a href="{{ url_for('edit_mongo', key=item.key) }}" class="btn btn-warning btn-sm">Güncelle</a>
                        <a href="{{ url_for('delete_mongo', key=item.key) }}" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="mt-5">Redis</h2>
        <nav class="nav mt-4">
            <a class="nav-link btn btn-success btn-sm" href="/redis/create">Veri Ekle</a>
        </nav>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Veri</th>
                    <th>Yönet</th>
                </tr>
            </thead>
            <tbody>
                {% for item in redis_data %}
                <tr>
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                    <td>
                        <a href="{{ url_for('edit_redis', key=item.key) }}" class="btn btn-warning btn-sm">Güncelle</a>
                        <a href="{{ url_for('delete_redis', key=item.key) }}" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
