@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Okul Yönetim Sistemi</h1>
</div>

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Fakulte" asp-action="Create">Fakülte Ekle</a>
    </div>
    <div class="col-md-8 mx-auto rounded border p-3 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Bolum" asp-action="Create">Bölüm Ekle</a>
    </div>
    <div class="col-md-8 mx-auto rounded border p-3 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Ogrenci" asp-action="Create">Öğrenci Ekle</a>
    </div>
    <div class="col-md-8 mx-auto rounded border p-3 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Ders" asp-action="Index">Ders Öğrenci Sayısı</a>
    </div>
    <div class="col-md-8 mx-auto rounded border p-3 text-center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Not" asp-action="Index">Not Girme</a>
    </div>
</div>
